/* SPACING BETWEEN IMAGES */

 #divCenter {
  margin:0px auto;
  width:960px; 
  height:auto;
  padding:10px;
}

 #divIDOne {
     margin-right: 0px;
 }

 #divIDTwo {
   margin-left: 20px;
 }


--------

/* FONTS */

@font-face {
    font-family: "Breamcatcher-Regular";
    src: url("https://db.onlinewebfonts.com/t/d4ccc48c66b7c07c692ae80633360821.eot");
    src: url("https://db.onlinewebfonts.com/t/d4ccc48c66b7c07c692ae80633360821.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d4ccc48c66b7c07c692ae80633360821.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/d4ccc48c66b7c07c692ae80633360821.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/d4ccc48c66b7c07c692ae80633360821.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/d4ccc48c66b7c07c692ae80633360821.svg#Breamcatcher-Regular")format("svg");
	
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 2. Apply font and color to elements */
p {
  font-family: 'Breamcatcher-Regular';
  color: white; /* Changes text color to a specific hex */

	

	@font-face {
		  font-family: "DraculaRegular-RpVvW";
	src: url("https://raw.githubusercontent.com/Velencia-Simms/velencia-simms.github.io/master/assets/fonts/DraculaRegular-RpVvW.ttf")format("truetype"),
		
  font-weight: normal;
  font-style: normal;
  font-display: swap;
 }

h1 {
  font-family: 'DraculaRegular-RpVvW';
	color: white; /* Changes text color to a specific hex */

}



body {
  font-family: 'breamcatcher-regular';
}

	


	--------

/* BACK TO TOP */

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  display: block;
}

#btn-back-to-top.hidden {
  display: none;
}


	
-------

	
/* Center all images globally */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Center all links globally */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
